<!DOCTYPE html>
<html>
<head>
  <title>UserProfile</title>
  <%= stylesheet_link_tag    "user_profile/application", :media => "all" %>
  <%= javascript_include_tag "user_profile/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
